<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="IPNetwork2" version="2.4.0.126" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="RestSharp" version="106.6.10" targetFramework="net452" />
</packages>